*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-AYUDA{
    width: 80%;
    max-width: 1000px;
    background-color: #494948;;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    box-shadow: 7px  13px  37px #000;
}

.form-AYUDA{
    color: white;
}

@media (max-width: 768px) {

}